@import 'tailwindcss';

/* Hide scrollbars globally */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
